extends ../templates/default

block contentpane
  div#main
    .container-fluid
      .row
        .jumbotron
          h1 Bioblitz 
            span(style="font-weight:normal;") monitoring center
          p Powered by oqe.ca and inaturalist.org
      .row
        .col-md-12
          span(class="label label-default" style="padding-bottom:10px;font-size:13px;font-weight:normal") Last data update: 
            span(am-time-ago="dataUpdate")
      .row
        .col-md-6(ng-controller="donut")
          .panel.panel-default
            .panel-body
              div(ng-if="progress!=100" style="text-align:center;")
                i(class="fa fa-refresh fa-spin fa-4x fa-fw")
              nvd3(options="options" data="data" config="config" ng-if="progress==100")
        .col-md-6(ng-controller="chart")
          .panel.panel-default
            .panel-body
              div(ng-if="progress!=100" style="text-align:center;")
                i(class="fa fa-refresh fa-spin fa-4x fa-fw")
              nvd3(options="options" data="data" ng-if="progress==100")
        .col-md-6
          .panel.panel-default
            .panel-heading
              h4(style="margin: 0 0 0 0;")
                i.fa.fa-tachometer.fa-1x(aria-hidden="true")
                |  Synthesis
            .panel-body
              div(ng-if="progress!=100" style="text-align:center;")
                i(class="fa fa-refresh fa-spin fa-4x fa-fw")
              div(ng-if="progress==100")
                p #[strong iNaturalist project ID:] {{synthesis.projectID}}
                p #[strong Number of participants:] {{synthesis.n_user}}
                p #[strong Number of species:] {{synthesis.n_sp}}
                p #[strong Number of records:] {{synthesis.n_spec}}
                
