extends ../templates/default

block contentpane
  div#main
    .container-fluid
      .row
        .jumbotron
          h1(style="text-align:right;color:white;") Bioblitz 
            span(style="font-weight:normal;") monitoring center
          p 
            img(src="./img/bbc.png" align="right" height="100px")
      .row
        .col-md-12
          span(class="label label-default" style="padding-bottom:10px;font-size:13px;font-weight:normal") Last data update: 
            span(am-time-ago="dataUpdate")
      .row
        .col-md-6(ng-controller="donut")
          .panel.panel-default
            .panel-body
              div(ng-if="progress!=100" style="text-align:center;")
                i(class="fa fa-refresh fa-spin fa-3x fa-fw")
              nvd3(options="options" data="data" config="config" ng-if="progress==100")
        .col-md-6
          .panel.panel-default
            .panel-heading
              h4(style="margin: 0 0 0 0;")
                i.fa.fa-tachometer.fa-1x(aria-hidden="true")
                |  Synthesis
            .panel-body
              div(ng-if="progress!=100" style="text-align:center;")
                i(class="fa fa-refresh fa-spin fa-3x fa-fw")
              div(ng-if="progress==100")
                p #[strong Number of species:] {{synthesis.n_sp}}
                p #[strong Number of records:] {{synthesis.n_spec}}
                p #[strong Campaign started:] 
                  span(am-time-ago="synthesis.min_time | amParse:'YYYY-MM-DD'")
                p #[strong Latest records:] 
                  span(am-time-ago="synthesis.max_time | amParse:'YYYY-MM-DD HH:mm:ss'")
              div(ng-if="progress==100")
                  //- div(ng-repeat="taxa in obs | unique: 'name'")
                  //-   {{ taxa }}
