extends ../templates/default

block infopane
    div#stats
        table.summary
            tr
                th Group
                th 
                th Species
                th Obs.

block contentpane
    div#main
