doctype html
html(ng-app="bobby")
    head
        base(href="/")
        
        //- angular (CSS + JS)
        script(src="bower_components/angular/angular.min.js")
        script(src="bower_components/angular-route/angular-route.min.js")
        
        //- Google map API (Maps)
        script(src="http://maps.google.com/maps/api/js?key=AIzaSyACvfsQWMCVxdq1h7GAsJCIZGzZN3w7ujU")

        //- Leaflet (CSS + JS)
        script(src="/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js")
        link(rel="stylesheet" href="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css")
        link(rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css")
        script(src="/bower_components/leaflet/dist/leaflet.js")
        script(src="/bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js")
        script(src="/bower_components/leaflet-plugins/layer/tile/Google.js")
        script(src="/bower_components/ui-leaflet/dist/ui-leaflet.min.js")
        
        //- bootstrap
        script(src="/bower_components/jquery/dist/jquery.min.js")
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
                
        //- d3
        script(src="/bower_components/d3/d3.js")
        script(src="/bower_components/nvd3/build/nv.d3.js")
        script(src="/bower_components/angular-nvd3/dist/angular-nvd3.js")
        link(rel="stylesheet" href="/bower_components/nvd3/build/nv.d3.css")
          
        //- init and set routes
        script(src="/js/routes.js")
        //- set API service
        script(src="/js/config.js")
        script(src="/js/services/api.js")

        //- set controllers
        script(src="/js/controllers/nav.js")
        script(src="/js/controllers/map.js")
        script(src="/js/controllers/d3.js")
        
        // perso CSS
        link(rel='stylesheet' href='/fa/css/font-awesome.min.css')
        link(rel='stylesheet' href='/main.css')
      
        
        block title
            title BioBlitz interactive dashboard
    body
      div(ng-view)
