extends master

block infopane
    div#sidebar
        INFO

block contentpane
    div#map

block scripts
    script.
        // Set the map to 100% of the height
        $(window).resize(function(){
            $("#map").height($("html").height()-$("#navbar").height())
            mymap.invalidateSize()
        })
        $(".nav_map").addClass("active")
        // Get the map background
        var mymap = L.map('map').setView([#{coordinates.latitude}, #{coordinates.longitude}], #{coordinates.zoom});
        setTimeout(function(){
            $("#map").height($("html").height()-$("#navbar").height())
            mymap.invalidateSize()
        }, 400);
        var myIcon = L.divIcon({className: 'marker'});
        var tile_server = 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'
        var layer = L.tileLayer(tile_server, {
            attribution: 'ESRI',
            maxZoom: 19
            });
        layer.addTo(mymap);
        // Add the pins for each observation
        function getObsPaged(page) {
            $.ajax({
                type: 'GET',
                url: '/obs/' + page,
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var obs = data[i];
                        iconicTaxonName = 'Unidentified';
                        if (obs.hasOwnProperty('iconic_taxon_name')) {
                            if (obs.iconic_taxon_name) {
                                iconicTaxonName = obs.iconic_taxon_name
                            }
                        }
                        taxName = 'no species name'
                        if (obs.hasOwnProperty('taxon')) {
                            if (obs.taxon.name) {
                                taxName = obs.taxon.name
                            }
                        }
                        L.marker(
                            [Number(obs.latitude), Number(obs.longitude)],
                            {
                                icon: L.divIcon({className: 'obsicon '+iconicTaxonName}),
                                title: taxName
                            }
                        ).addTo(mymap)
                    }
                    // This pages through the data every time the page is loaded
                    // which will need to be optimized
                    if(data.length > 0) {
                        getObsPaged(page+1)
                    }
                }
            })
        }
        getObsPaged(1)

