extends master

block infopane
    div#stats
        table.summary
            tr
                th Group
                th 
                th Species
                th Obs.

block contentpane
    div#main

block scripts
    script.
        // Set the map to 100% of the height
        //-$("#stats").height($("html").height()-$("#navbar").height())
        //-$(window).resize(function(){
            //-$("#stats").height($("html").height()-$("#navbar").height())
        //-})
        $(".nav_tax").addClass("active")
        var unique=Object()
        // Add the pins for each observation
        function getObsPaged(page) {
            $.ajax({
                type: 'GET',
                url: '/obs/' + page,
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        var obs = data[i];
                        iconicTaxonName = 'Unidentified';
                        if (obs.hasOwnProperty('iconic_taxon_name')) {
                            if (obs.iconic_taxon_name) {
                                iconicTaxonName = obs.iconic_taxon_name
                            }
                        }
                        if (! unique.hasOwnProperty(iconicTaxonName)) {
                            unique[iconicTaxonName] = Object();
                        }
                        taxName = 'no species name'
                        if (obs.hasOwnProperty('taxon')) {
                            if (obs.taxon.name) {
                                taxName = obs.taxon.name
                            }
                        }
                        if (! unique[iconicTaxonName].hasOwnProperty(taxName)) {
                            unique[iconicTaxonName][taxName] = new Array();
                        }
                        unique[iconicTaxonName][taxName].push(obs);
                    }
                    // When the data are collected, we can update the stats sidebar
                    for (i in Object.keys(unique)) {
                        var tName = Object.keys(unique)[i];
                        if ( $(".summary ."+tName).length == 0 ) {
                        $(".summary")
                            .append($('<tr>').addClass(tName)
                                .append($('<td>').addClass('iconic').text(tName))
                                .append($('<td>').addClass('symbol').append(
                                $("<i/>").addClass("fa").addClass("fa-circle").addClass(tName)
                                ))
                                .append($('<td>').addClass('species'))
                                .append($('<td>').addClass('obs'))
                            )
                        }
                        $(".summary ." + tName + " .species").text(Object.keys(unique[tName]).length)
                        var totalObs = 0;
                        for (k in Object.keys(unique[tName])) {
                            totalObs += unique[tName][Object.keys(unique[tName])[k]].length
                        }
                        $(".summary ." + tName + " .obs").text(totalObs)
                    }
                    // This pages through the data every time the page is loaded
                    // which will need to be optimized
                    if(data.length > 0) {
                        getObsPaged(page+1)
                    }
                }
            })
        }
        getObsPaged(1)

