block infopane
block contentpane
div(ng-controller="nav" data-ng-init="refresh()")#navbar
    ul
        a(href="/bobby/{{synthesis.projectID}}/")
            li(ng-class="{ active: isActive('/bobby/{{synthesis.projectID}}')}") <i class="fa fa-home fa-fw" aria-hidden="true"></i>
        a(href="/bobby/{{synthesis.projectID}}/map")
            li(ng-class="{ active: isActive('/bobby/{{synthesis.projectID}}/map')}") <i class="fa fa-map fa-fw" aria-hidden="true"></i>
        a(href="/bobby/{{synthesis.projectID}}/pictures")
            li(ng-class="{ active: isActive('/bobby/{{synthesis.projectID}}/pictures')}") <i class="fa fa-camera fa-fw" aria-hidden="true"></i>
        a(href="http://www.inaturalist.org/projects/{{synthesis.projectID}}")
            li 
              img(src="/img/inat_logo_black.png" width="90%")
        a(href="#" ng-click="refresh()")
            li 
              i(ng-class="{'fa fa-refresh': progress==100, 'fa fa-refresh fa-spin': progress!=100}")
