$sans = "Liberation Sans", sans-serif
$mono = monospace

$barwidth = 50px

@import "styles/colors.styl"

substract(a, b)
    a = unit(a, px)
    b = unit(b, px)
    unit(a - b, px)

html, body
    margin: 0 0 0 0
    padding: 0 0 0 0
    font-family: $sans

html
    height: 100%

body
    margin-top: $barwidth
    min-height: calc(100%-$barwidth)

table, th, td
    border-collapse: collapse

table
    min-width: 100%

colored-icon(n)
    background-color: transparentify(n, #fff, 0.8)
    border: 1px solid transparentify(n, #fff, 0.5)

.obsicon
    width: 6px !important
    height: 6px !important
    border-radius: 6px
    colored-icon #ccc
    &.Actinopterygii
        colored-icon $ActinopterygiiColor
    &.Amphibia
        colored-icon $AmphibiaColor
    &.Aves
        colored-icon $AvesColor
    &.Insecta
        colored-icon $InsectaColor
    &.Mammalia
        colored-icon $MammaliaColor
    &.Plantae
        colored-icon $PlantaeColor
    &.Reptilia
        colored-icon $ReptiliaColor
    &.Fungi
        colored-icon $FungiColor
    &.Animalia
        colored-icon $AnimaliaColor
    &.Mollusca
        colored-icon $MolluscaColor
    &.Chromista
        colored-icon $ChromistaColor

.fa.Mammalia
    color: $MammaliaColor !important

.fa.Plantae
    color: $PlantaeColor !important

.fa.Aves
    color: $AvesColor !important

.fa.Reptilia
    color: $ReptiliaColor !important

.fa.Amphibia
    color: $AmphibiaColor !important

.fa.Fungi
    color: $FungiColor !important

.fa.Actinopterygii
    color: $ActinopterygiiColor !important

.fa.Insecta
    color: $InsectaColor !important

.fa.Animalia
    color: $AnimaliaColor !important

.fa.Mollusca
    color: $MolluscaColor !important

.fa.Chromista
    color: $ChromistaColor !important

#stats
    position: fixed
    background-color: $elements
    width: 300px
    height: 100%
    left: $barwidth
    top: 0
    z-index: 500
    margin: 0 0 0 0
    padding: 2em
    box-sizing: border-box
    .summary
        font-size: 90%
        th
            font-variant: small-caps
            text-transform: lowercase
            color: $titles
            text-align: left
        td, tr, th
            border-bottom: 1px solid $shadow
            border-top: 1px solid $shadow
            padding: 0.3em

#main
    margin: 0 0 0 0
    padding: 2em
    box-sizing: content-box
    position: absolute
    top: 0
    left: 350px

#map, #content
    height: 100%
    width: 100%
    position: fixed
    top: 0
    left: $barwidth+10px

#navbar
    a
        text-decoration: none
        color: $text
        font-weight: 500
    display: block
    background-color: $elements
    position: fixed
    top: 0
    left: 0
    width: $barwidth
    height: 100%
    box-shadow: 0px 0px 2px 2px $shadow
    z-index: 1000
    ul
        list-style: none
        margin: 0 0 0 0
        padding: 0 0 0 0
    li
        margin: 10px 0px
        width: 46px
        height: $barwidth
        line-height: 50px
        font-size: 25px
        box-sizing: content-box !important
        display: inline-block
        text-align: center
        font-family: $sans
        border-right: 4px solid $low_muted
        font-variant: small-caps
        &:hover
            border-right: 4px solid $low
        &.active
            border-right: 4px solid $high_muted
            &:hover
                border-right: 4px solid $high

svg
    width: 100%
    height: 100%
    top: 0
    position: absolute
    .user
        fill: red
    .taxa
        fill: blue
