html,
body,
p {
  color: #434a54;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #656d78;
}
a {
  color: #48cfad;
}
a:hover {
  color: #37bc9b;
}
html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Liberation Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  margin-top: 50px;
  min-height: 100%;
}
table,
th,
td {
  border-collapse: collapse;
}
table {
  min-width: 100%;
}

.Actinopterygii {
  background-color: #d32f2f;
  border-radius: 120px;
}
.Amphibia {
  background-color: #c2185b;
  border-radius: 120px;
}
.Aves {
  background-color: #1976d2;
  border-radius: 120px;
}
.Insecta {
  background-color: #689f38;
  border-radius: 120px;
}
.Mammalia {
  background-color: #afb42b;
  border-radius: 120px;
}
.Plantae {
  background-color: #00796b;
  border-radius: 120px;
}
.Reptilia {
  background-color: #5d4037;
  border-radius: 120px;
}
.Fungi {
  background-color: #0097a7;
  border-radius: 120px;
}
.Animalia {
  background-color: #7b1fa2;
  border-radius: 120px;
}
.Mollusca {
  background-color: #ffa000;
  border-radius: 120px;
}
.Chromista {
  background-color: #0288d1;
  border-radius: 120px;
}
.obsicon {
  width: 6px !important;
  height: 6px !important;
  border-radius: 6px;
  background-color: rgba(191,191,191,0.8);
  border: 1px solid rgba(153,153,153,0.5);
}
.obsicon.Actinopterygii {
  background-color: rgba(200,0,0,0.8);
  border: 1px solid rgba(167,0,0,0.5);
}
.obsicon.Amphibia {
  background-color: rgba(179,0,50,0.8);
  border: 1px solid rgba(133,0,0,0.5);
}
.obsicon.Aves {
  background-color: rgba(0,84,199,0.8);
  border: 1px solid rgba(0,0,165,0.5);
}
.obsicon.Insecta {
  background-color: rgba(66,135,6,0.8);
  border: 1px solid rgba(0,63,0,0.5);
}
.obsicon.Mammalia {
  background-color: rgba(155,161,0,0.8);
  border: 1px solid rgba(95,105,0,0.5);
}
.obsicon.Plantae {
  background-color: rgba(0,88,70,0.8);
  border: 1px solid rgba(0,0,0,0.5);
}
.obsicon.Reptilia {
  background-color: rgba(53,16,5,0.8);
  border: 1px solid rgba(0,0,0,0.5);
}
.obsicon.Fungi {
  background-color: rgba(0,125,145,0.8);
  border: 1px solid rgba(0,47,79,0.5);
}
.obsicon.Animalia {
  background-color: rgba(90,0,139,0.8);
  border: 1px solid rgba(0,0,69,0.5);
}
.obsicon.Mollusca {
  background-color: rgba(255,136,0,0.8);
  border: 1px solid rgba(255,65,0,0.5);
}
.obsicon.Chromista {
  background-color: rgba(0,106,198,0.8);
  border: 1px solid rgba(0,17,163,0.5);
}
.fa.Mammalia {
  color: #afb42b !important;
}
.fa.Plantae {
  color: #00796b !important;
}
.fa.Aves {
  color: #1976d2 !important;
}
.fa.Reptilia {
  color: #5d4037 !important;
}
.fa.Amphibia {
  color: #c2185b !important;
}
.fa.Fungi {
  color: #0097a7 !important;
}
.fa.Actinopterygii {
  color: #d32f2f !important;
}
.fa.Insecta {
  color: #689f38 !important;
}
.fa.Animalia {
  color: #7b1fa2 !important;
}
.fa.Mollusca {
  color: #ffa000 !important;
}
.fa.Chromista {
  color: #0288d1 !important;
}
#stats {
  position: fixed;
  background-color: #f5f7fa;
  width: 300px;
  height: 100%;
  left: 50px;
  top: 0;
  z-index: 500;
  margin: 0 0 0 0;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#stats .summary {
  font-size: 90%;
}
#stats .summary th {
  font-variant: small-caps;
  text-transform: lowercase;
  color: #656d78;
  text-align: left;
}
#stats .summary td,
#stats .summary tr,
#stats .summary th {
  border-bottom: 1px solid #aab2bd;
  border-top: 1px solid #aab2bd;
  padding: 0.3em;
}
#main {
  margin: 0 0 0 0;
  padding: 2em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 350px;
}
#map,
#content {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}
#navbar {
  display: block;
  background-color: #f5f7fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 2px 2px #aab2bd;
  box-shadow: 0px 0px 2px 2px #aab2bd;
  z-index: 1000;
}
#navbar a {
  text-decoration: none;
  color: #434a54;
  font-weight: 500;
}
#navbar ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#navbar li {
  margin: 10px 0px;
  width: 46px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  display: inline-block;
  text-align: center;
  font-family: "Liberation Sans", sans-serif;
  border-right: 4px solid #ccd1d9;
  font-variant: small-caps;
}
#navbar li:hover {
  border-right: 4px solid #aab2bd;
}
#navbar li.active {
  border-right: 4px solid #a0d468;
}
#navbar li.active:hover {
  border-right: 4px solid #8cc152;
}
svg {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
svg .user {
  fill: #f00;
}
svg .taxa {
  fill: #00f;
}
