html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  min-height: 100%;
  height: 100%;
}
body {
  margin-top: 50px;
}
#map {
  height: 850px;
}
#navbar {
  display: block;
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 0px 2px 2px #888;
  box-shadow: 0px 0px 2px 2px #888;
  z-index: 1000;
}
#navbar ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#navbar li {
  line-height: 25px;
  padding: 12.5px 0px 8.5px 0px;
  margin: 0px 10px;
  display: inline-block;
  text-align: center;
  width: 100px;
  font-family: sans-serif;
  border-bottom: 4px solid #e7e7e7;
  font-variant: small-caps;
}
#navbar li:hover {
  border-bottom: 4px solid #c7c7c7;
}
#navbar li.active {
  border-bottom: 4px solid #36d7b7;
}
#navbar li.active:hover {
  border-bottom: 4px solid #1ba39c;
}
