html,
body,
p {
  color: #434a54;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #656d78;
}
a {
  color: #48cfad;
}
a:hover {
  color: #37bc9b;
}
html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Liberation Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  margin-top: 50px;
  min-height: calc(100% -50px);
}
table,
th,
td {
  border-collapse: collapse;
}
table {
  min-width: 100%;
}
.obsicon {
  width: 6px !important;
  height: 6px !important;
  border-radius: 6px;
  background-color: rgba(191,191,191,0.8);
  border: 1px solid rgba(153,153,153,0.5);
}
.obsicon.Insecta {
  background-color: rgba(111,38,0,0.8);
  border: 1px solid rgba(25,0,0,0.5);
}
.obsicon.Mammalia {
  background-color: rgba(175,98,0,0.8);
  border: 1px solid rgba(127,3,0,0.5);
}
.obsicon.Plantae {
  background-color: rgba(215,179,93,0.8);
  border: 1px solid rgba(191,133,0,0.5);
}
.obsicon.Actinopterygii {
  background-color: rgba(244,226,180,0.8);
  border: 1px solid rgba(237,209,135,0.5);
}
.obsicon.Aves {
  background-color: rgba(185,229,223,0.8);
  border: 1px solid rgba(143,213,203,0.5);
}
.obsicon.Reptilia {
  background-color: rgba(96,193,178,0.8);
  border: 1px solid rgba(1,155,131,0.5);
}
.obsicon.Fungi {
  background-color: rgba(3,125,115,0.8);
  border: 1px solid rgba(0,47,31,0.5);
}
.obsicon.Amphibia {
  background-color: rgba(0,64,54,0.8);
  border: 1px solid rgba(0,0,0,0.5);
}
.fa.Mammalia {
  color: #bf812d !important;
}
.fa.Plantae {
  color: #dfc27d !important;
}
.fa.Aves {
  color: #c7eae5 !important;
}
.fa.Reptilia {
  color: #80cdc1 !important;
}
.fa.Amphibia {
  color: #01665e !important;
}
.fa.Fungi {
  color: #35978f !important;
}
.fa.Actinopterygii {
  color: #f6e8c3 !important;
}
.fa.Insecta {
  color: #8c510a !important;
}
#stats {
  position: fixed;
  background-color: #f5f7fa;
  width: 300px;
  height: 100%;
  left: 50px;
  top: 0;
  z-index: 500;
  margin: 0 0 0 0;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#stats .summary {
  font-size: 90%;
}
#stats .summary th {
  font-variant: small-caps;
  text-transform: lowercase;
  color: #656d78;
  text-align: left;
}
#stats .summary td,
#stats .summary tr,
#stats .summary th {
  border-bottom: 1px solid #aab2bd;
  border-top: 1px solid #aab2bd;
  padding: 0.3em;
}
#main {
  width: calc(100% - 300px);
  margin: 0 0 0 0;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#map {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50px;
}
#navbar {
  display: block;
  background-color: #f5f7fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 2px 2px #aab2bd;
  box-shadow: 0px 0px 2px 2px #aab2bd;
  z-index: 1000;
}
#navbar a {
  text-decoration: none;
  color: #434a54;
  font-weight: 500;
}
#navbar ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#navbar li {
  margin: 10px 0px;
  width: 46px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  display: inline-block;
  text-align: center;
  font-family: "Liberation Sans", sans-serif;
  border-right: 4px solid #ccd1d9;
  font-variant: small-caps;
}
#navbar li:hover {
  border-right: 4px solid #aab2bd;
}
#navbar li.active {
  border-right: 4px solid #a0d468;
}
#navbar li.active:hover {
  border-right: 4px solid #8cc152;
}
