$sans = "Liberation Sans", sans-serif
$mono = monospace

$barwidth = 50px

@import "styles/colors.styl"
@import url('https://fonts.googleapis.com/css?family=Paytone+One')


substract(a, b)
    a = unit(a, px)
    b = unit(b, px)
    unit(a - b, px)

html, body
    margin: 0 0 0 0
    padding: 0 0 0 0
    font-family: $sans

html
    height: 100%

body
    margin-top: $barwidth
    min-height: 100%

table, th, td
    border-collapse: collapse

table
    min-width: 100%

p
  font-size: 13px

colored-icon(n)
    background-color: transparentify(n, #fff, 0.8)
    border: 1px solid transparentify(n, #fff, 0.5)

.Actinopterygii
    background-color: $ActinopterygiiColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Amphibia
    background-color: $AmphibiaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Aves
    background-color: $AvesColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Insecta
    background-color: $InsectaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Mammalia
    background-color: $MammaliaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Plantae
    background-color: $PlantaeColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Reptilia
    background-color: $ReptiliaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Fungi
    background-color: $FungiColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Animalia
    background-color: $AnimaliaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Mollusca
    background-color: $MolluscaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Chromista
    background-color: $ChromistaColor
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px
.Unidentified
    background-color: black
    border-radius: 120px
    border-color: #ffffff
    border-style: solid
    border-width: 1px



.obsicon
    width: 6px !important
    height: 6px !important
    border-radius: 6px
    colored-icon #ccc
    &.Actinopterygii
        colored-icon $ActinopterygiiColor
    &.Amphibia
        colored-icon $AmphibiaColor
    &.Aves
        colored-icon $AvesColor
    &.Insecta
        colored-icon $InsectaColor
    &.Mammalia
        colored-icon $MammaliaColor
    &.Plantae
        colored-icon $PlantaeColor
    &.Reptilia
        colored-icon $ReptiliaColor
    &.Fungi
        colored-icon $FungiColor
    &.Animalia
        colored-icon $AnimaliaColor
    &.Mollusca
        colored-icon $MolluscaColor
    &.Chromista
        colored-icon $ChromistaColor

.fa.Mammalia
    color: $MammaliaColor !important

.fa.Plantae
    color: $PlantaeColor !important

.fa.Aves
    color: $AvesColor !important

.fa.Reptilia
    color: $ReptiliaColor !important

.fa.Amphibia
    color: $AmphibiaColor !important

.fa.Fungi
    color: $FungiColor !important

.fa.Actinopterygii
    color: $ActinopterygiiColor !important

.fa.Insecta
    color: $InsectaColor !important

.fa.Animalia
    color: $AnimaliaColor !important

.fa.Mollusca
    color: $MolluscaColor !important

.fa.Chromista
    color: $ChromistaColor !important

#stats
    position: fixed
    background-color: $elements
    width: 300px
    height: 100%
    left: $barwidth
    top: 0
    z-index: 500
    margin: 0 0 0 0
    padding: 2em
    box-sizing: border-box
    .summary
        font-size: 90%
        th
            font-variant: small-caps
            text-transform: lowercase
            color: $titles
            text-align: left
        td, tr, th
            border-bottom: 1px solid $shadow
            border-top: 1px solid $shadow
            padding: 0.3em

#fulld3
    height: 100vh !important;

#main
    margin: 0 0 0 0
    height: 100%
    width: 100%
    position: absolute
    top: 0
    padding-left: $barwidth

#map, #content
    height: 100%
    width: 100%
    position: fixed
    top: 0

.jumbotron
  h1
    font-family: $mono
    font-weight: bold
    font-size: 35px
  padding-top: 10px
  padding-bottom: 10px
  min-height: 250px
  background: url("/img/bandeau.jpg") no-repeat center center;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;

#navbar
    a
        text-decoration: none
        color: $text
        font-weight: 500
    display: block
    background-color: $elements
    position: fixed
    top: 0
    left: 0
    width: $barwidth
    height: 100%
    box-shadow: 0px 0px 2px 2px $shadow
    z-index: 1000
    ul
        list-style: none
        margin: 0 0 0 0
        padding: 0 0 0 0
    li
        margin: 10px 0px
        width: 46px
        height: $barwidth
        line-height: 50px
        font-size: 25px
        box-sizing: content-box !important
        display: inline-block
        text-align: center
        font-family: $sans
        border-right: 4px solid $low_muted
        font-variant: small-caps
        &:hover
            border-right: 4px solid $low
        &.active
            border-right: 4px solid $high_muted
            &:hover
                border-right: 4px solid $high
