// Colors

// UI color
$elements = #f5f7fa
$text = #434a54
$titles = #656d78
$shadow = #aab2bd

$a = #48cfad
$hover = #37bc9b

$low = #aab2bd
$low_muted = #ccd1d9
$high = #8cc152
$high_muted = #a0d468

// Iconic taxon colors
$ActinopterygiiColor = #D32F2F
$AmphibiaColor = #C2185B
$AnimaliaColor = #7B1FA2
$AvesColor = #1976D2
$ChromistaColor = #0288D1
$FungiColor = #0097A7
$InsectaColor = #689F38
$MammaliaColor = #AFB42B
$MolluscaColor = #FFA000
$PlantaeColor = #00796B
$ReptiliaColor = #5D4037

// General color
html, body, p
    color: $text

h1, h2, h3, h4, h5, h6
    color: $titles

a
    color: $a
    &:hover
        color: $hover
