// Colors

// UI color
$elements = #f5f7fa
$text = #434a54
$titles = #656d78
$shadow = #aab2bd

$a = #48cfad
$hover = #37bc9b

$low = #aab2bd
$low_muted = #ccd1d9
$high = #8cc152
$high_muted = #a0d468

// Iconic taxon colors
$InsectaColor = #8c510a
$MammaliaColor = #bf812d
$PlantaeColor = #dfc27d
$ActinopterygiiColor = #f6e8c3
$AvesColor = #c7eae5
$ReptiliaColor = #80cdc1
$FungiColor = #35978f
$AmphibiaColor = #01665e

// General color
html, body, p
    color: $text

h1, h2, h3, h4, h5, h6
    color: $titles

a
    color: $a
    &:hover
        color: $hover
